.checkoutPage {
  position: relative;
  transition: all 0.5s ease;
}

.checkoutPage.isPopup {
  filter: blur(5px);
}

.checkoutForm {
  min-height: auto;
  margin-bottom: 30px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--background-darker);
  border-radius: 10px;
  margin-bottom: 30px;
}

.inputRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  width: 100%;
}

.inputRow > label:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3;
}
.inputRow > label:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}
.inputRow > label:nth-child(3) {
  grid-area: 1 / 4 / 2 / 5;
}
.inputRow > label:nth-child(4) {
  grid-area: 2 / 1 / 3 / 2;
}
.inputRow > label:nth-child(5) {
  grid-area: 2 / 2 / 3 / 3;
}
.inputRow > label:nth-child(6) {
  grid-area: 2 / 3 / 3 / 5;
}

.invert {
  grid-template-columns: 1fr 1fr 2fr;
}

.inputField {
  position: relative;
}

.inputHolder {
  position: relative;
  border-radius: 8px;
  padding: 1px;
}

.inputHolder:after,
.inputHolder:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  border-radius: 8px;
  padding: 1px;
  transition: all 0.35s ease;
}

.inputHolder:after {
  background: linear-gradient(to right bottom, var(--gradient-2));
}

.inputHolder:before {
  background: linear-gradient(to right bottom, var(--gradient-focus));
}

.inputHolder.isError:after {
  background: linear-gradient(to right bottom, var(--gradient-5));
}

.inputField:focus-within .inputHolder:after {
  opacity: 0;
}

.input {
  position: relative;
  height: 36px;
  width: 100%;
  font-size: var(--font-size);
  line-height: var(--line-height);
  border-radius: 7px;
  border: none;
  padding: 3px 12px;
  text-align: left;
  color: var(--grey);
  z-index: 1;
  box-sizing: border-box;
  outline: none;
  background-color: var(--background);
}

.input::placeholder {
  color: var(--placeholder);
  transition: all 0.3s ease;
}

.input:focus-visible::placeholder {
  opacity: 0;
  font-size: 10px;
}

.withIcon svg {
  font-size: 40px;
  position: absolute;
  left: 4px;
  top: -1px;
  color: var(--dark);
  z-index: 2;
}

.withIcon .input {
  padding-left: 48px;
}

.inputError,
.emailSuccess {
  position: absolute;
  left: 0;
  right: 0;
  text-align: left;
  bottom: -14px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 400;
}

.inputError {
  color: var(--red);
}

@media (max-width: 640px) {
  .inputRow {
    grid-template-columns: repeat(4, 1fr);
  }
  .inputRow > label:nth-child(1) {
    grid-area: 1 / 1 / 2 / 5;
  }
  .inputRow > label:nth-child(2) {
    grid-area: 2 / 1 / 3 / 3;
  }
  .inputRow > label:nth-child(3) {
    grid-area: 2 / 3 / 3 / 5;
  }
  .inputRow > label:nth-child(4) {
    grid-area: 3 / 1 / 4 / 5;
  }
  .inputRow > label:nth-child(5) {
    grid-area: 4 / 1 / 5 / 3;
  }
  .inputRow > label:nth-child(6) {
    grid-area: 4 / 3 / 5 / 5;
  }
}

@media (max-width: 480px) {
  .inputRow > label:nth-child(5) {
    grid-area: 4 / 1 / 5 / 5;
  }
  .inputRow > label:nth-child(6) {
    grid-area: 5 / 1 / 5 / 5;
  }
}
