.App {
  text-align: center;
  scroll-behavior: smooth;
}

.mainSection {
  min-height: 585px;
  background-color: var(--background);
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 620px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  padding: 50px 0 50px;
  text-align: center;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  width: 46px;
  box-sizing: border-box;
}

.logoIcon {
  color: var(--white);
  background: linear-gradient(180deg, var(--gradient-2));
  font-size: 46px;
  border-radius: 5px;
}

.homeText {
  position: relative;
  background-color: var(--background-darker);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.sectionIcon {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 160px;
  opacity: 0.04;
  color: var(--color);
}

.FooterWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spaceBetween {
  justify-content: space-between;
}

.justifyEnd {
  justify-content: end;
}

.progressBar {
  position: absolute;
  border-radius: 3px;
  bottom: -12px;
  left: 0;
  right: 0;
  height: 3px;
  transition: all 0.4s ease;
  background-color: var(--dark);
}

.progress {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  border-radius: 3px;
  height: 3px;
  transition: all 0.45s ease-out;
  box-sizing: border-box;
  background: linear-gradient(to right, var(--gradient-2));
}

.scrollProgressBar {
  background: linear-gradient(to right, var(--gradient));
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.totalQuestions {
  position: absolute;
  right: 0;
  color: darkgray;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.totalQuestions b {
  color: inherit;
}

.totalQuestions span {
  position: relative;
  z-index: 1;
}

.quizPage {
  border: 0;
}

.defaultLayout .btnBack,
.defaultLayout .progressBar {
  opacity: 0;
  pointer-events: none;
}

.defaultLayout .totalQuestions {
  display: none;
}

.buttonIcon {
  border: 0;
  padding: 0;
  background: none;
  color: var(--color);
  font-size: 28px;
  display: inline-flex;
  cursor: pointer;
}

.buttonIcon:hover {
  outline: none;
  color: var(--blue);
}

.btnBack {
  position: absolute;
  left: 0;
}

.heightForm {
  position: relative;
}

.inputField {
  position: relative;
  display: flex;
  gap: 10px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.inputField label {
  position: relative;
  left: -10px;
}

.input {
  height: 65px;
  width: 75px;
  font-size: 32px;
  box-sizing: border-box;
  color: var(--color);
  border: 0;
  outline: none;
  text-align: right;
  background-color: transparent;
}

.inputMin {
  width: 33px;
}

.input::placeholder {
  color: var(--placeholder);
  transition: all 0.3s ease;
}

.input:focus-visible::placeholder {
  opacity: 0;
}

.inputMeasure {
  font-weight: 600;
  color: var(--dark);
  margin-left: 5px;
}

.inputError {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  color: var(--red);
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

.weightInfo {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 20px;
  text-align: left;
  background-color: var(--background-darker);
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  margin: 30px 0;
  transition: all 0.25s ease;
  opacity: 0;
  min-height: 100px;
  box-sizing: border-box;
}

.weightInfo.active {
  opacity: 1;
}

.switcher {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.switcherKnobs,
.switcherLayer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.switcherButton {
  position: relative;
  top: 50%;
  width: 120px;
  height: 36px;
  overflow: hidden;
  border-radius: 4px;
}

.switcherCheckbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.switcherKnobs {
  z-index: 2;
}

.switcherLayer {
  width: 100%;
  background-color: var(--background-darker);
  transition: 0.3s ease all;
  opacity: 0.3;
  z-index: 1;
}

.switcherButton .switcherKnobs:before,
.switcherButton .switcherKnobs span {
  content: 'Imperial';
  position: absolute;
  top: 4px;
  left: 62px;
  width: 46px;
  height: 10px;
  color: var(--white);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
}

.switcherButton .switcherKnobs:after {
  position: absolute;
  top: 4px;
  width: 46px;
  height: 10px;
  color: var(--dark);
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  line-height: 1;
  padding: 9px 4px;
}

.switcherButton .switcherKnobs:before {
  transition: 0.3s ease all, left 0.5s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 2;
}

.switcherButton .switcherKnobs span {
  background-color: var(--purple);
  border-radius: 4px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}

.switcherButton .switcherCheckbox:checked + .switcherKnobs:before {
  content: 'Metric';
  left: 4px;
}
.switcherButton .switcherCheckbox + .switcherKnobs:after {
  content: 'Metric';
  left: 4px;
}
.switcherButton .switcherCheckbox:checked + .switcherKnobs:after {
  content: 'Imperial';
  right: 4px;
  left: auto;
}

.switcherButton .switcherCheckbox:checked + .switcherKnobs span {
  left: 4px;
  background-color: var(--blue);
}

.switcherButton .switcherCheckbox:checked ~ .switcherLayer {
  background-color: var(--black);
}

.CircularProgressbar {
  width: 190;
  height: 190px;
  margin-bottom: 30px;
}
