* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: var(--color);
  background-color: var(--background);
}

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  text-align: center;
}

h1,
h2 {
  font-weight: 600;
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  line-height: 60px;
}

h2 {
  font-size: 26px;
  line-height: 36px;
}

p {
  margin-bottom: 20px;
}

button {
  background: none;
  border: 0;
  padding: 0;
  transition: all 0.3s ease;
}

button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button {
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 6px;
  width: 100%;
  max-width: 288px;
  cursor: pointer;
  color: #fff;
  background-color: var(--btn);
  text-decoration: none;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--btn-hover);
}
